<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Entities.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Features.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Network.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Networking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PayDay.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>870C8C0224E167B000DE5EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>870C8C3E24E19A3300DE5EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8752F09E24DAAC48007041EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8752F0B724DAAC4A007041EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8752F0F824DAB04E007041EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8752F12C24DABC32007041EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
